html {
	font-family: sans-serif;
}
.header {
	display: inline-block;
	font-size: 24;
}

.title-strip {
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
	width: 90vw;
}

#logo {
	float: left;
	width: 16rem;
	height: 3.5rem;
	padding: 12px;
	margin-top: 15px;
}

.tabs {
	display: inline-block;
	background-color: #424242;
	margin: 0;
	width: 90vw;
	margin-right: 0px;
	margin-bottom: 10px;
}

.tabs button {
	display: inline-block;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	margin: 0;
	color: lightgray;
	font-size: 16;
}


.tabs button:hover {
	background-color: darkgray;
	color: black;
}

.tabs button.active {
	background-color: #D10000;
	color: lightgray;
}

.tab-content {
	display: none;
	margin-left: 20px;
}

th {
	border: 2px solid gray;
}
td {
	border: 1px solid gray;
}
.status_indicator {
	display: block;
	overflow: auto;
}
table {
	width: 100%;
}
.status_dot {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	background-color: gray;
	color: white;
	text-align: center;
}
.row {
	margin: 8px;
}
.issue_list {
	margin: 8px;
	width: 100%;
}
.description_box {
	width: 60%;
}
.textbox {
	font-size: 16px;
	padding: 8px;
	width: 100%;
}